<!DOCTYPE html>{% assign language = page.language | default: site.language | default: 'en' %}
<html lang="{{ language }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title | default: site.title[language] | default: site.title | smartify | strip_html | normalize_whitespace | escape }}</title>
    <meta name="description" content="{{ page.description | default: page.excerpt | default: site.description[language] | default: site.description | markdownify | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    {% if page.keywords or site.keywords[language] or site.keywords %}
    <meta name="keywords" content="{{ page.keywords | default: site.keywords[language] | default: site.keywords | join: ', ' | smartify | strip_html | normalize_whitespace | escape }}">
    {% endif %}
    <link rel="canonical" href="{{ page.url | replace: '/index.html', '/' | absolute_url }}">

    {% assign pages = site.pages | where: 'layout', 'home' %}
    {% for page in pages %}
    <link rel="alternate" href="{{ page.url | replace: '/index.html', '/' | absolute_url }}" hreflang="{{ page.language }}">
    {% endfor %}

    <meta property="og:title" content="{{ page.title | default: site.title[language] | default: site.title | smartify | strip_html | normalize_whitespace | escape }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | replace: '/index.html', '/' | absolute_url }}">
    {% if page.image or site.image %}
    {% assign image = page.image.facebook | default: page.image.path | default: page.image | default: site.image.facebook | default: site.image.path | default: site.image %}
    {% unless image contains "://" %}{% assign image = image | absolute_url %}{% endunless %}
    <meta property="og:image" content="{{ image | escape }}">
    {% endif %}
    <meta property="og:description" content="{{ page.description | default: page.excerpt | default: site.description[language] | default: site.description | markdownify | strip_html | normalize_whitespace | escape }}">
    <meta property="og:locale" content="{{ language }}">
    <meta property="og:updated_time" content="{{ site.time | date_to_xmlschema }}">
    {% if site.facebook.page_ids %}
    <meta property="fb:pages" content="{{ site.facebook.page_ids | join: ', ' }}">
    {% endif %}

    <meta name="twitter:card" content="summary">
    {% if site.twitter.username %}
    <meta name="twitter:site" content="@{{ site.twitter.username | replace: '@', '' }}">
    {% endif %}
    <meta name="twitter:title" content="{{ page.title | default: site.title[language] | default: site.title | smartify | strip_html | normalize_whitespace | escape }}">
    <meta name="twitter:description" content="{{ page.description | default: page.excerpt | default: site.description[language] | default: site.description | markdownify | strip_html | normalize_whitespace | escape }}">
    {% if page.image or site.image %}
    {% assign image = page.image.twitter | default: page.image.path | default: page.image | default: site.image.twitter | default: site.image.path | default: site.image %}
    {% unless image contains "://" %}{% assign image = image | absolute_url %}{% endunless %}
    <meta name="twitter:image" content="{{ image | escape }}">
    {% endif %}

    {% assign linked_data = page.linked_data | default: site.linked_data %}
    {% if linked_data and page.url == '/' %}
    <script type="application/ld+json">
      {
        "@context":"https://schema.org",
        "@type":"Organization",
        {% for property in linked_data %}
        "{{ property[0] }}":{{ property[1] | jsonify }},
        {% endfor %}
        "url":"{{ page.url | replace: '/index.html', '/' | absolute_url }}"
      }
    </script>
    {% endif %}

    {% assign timestamp = site.time | date: '%s' %}
    <link rel="stylesheet" href="{{ '/assets/main.css?v=' | append: timestamp | relative_url }}">
  </head>
  <body>
    {% assign image = page.image.path | default: page.image | default: '/assets/anotherkindart.jpg' %}
    {% unless image contains "://" %}{% assign image = image | relative_url %}{% endunless %}
    <header{% if image %} style="background-image: url('{{ image | escape }}');"{% endif %}>
      <span class="brand">{{ site.title[language] | default: site.title | smartify }}</span>
      {% if page.title %}<h1>{{ page.title | smartify }}</h1>{% endif %}
      {% if page.description %}<p>{{ page.description | markdownify }}</p>{% endif %}
      {% assign pages = site.pages | where: 'layout', 'home' | where_exp: 'item', 'item.url != page.url' | sort: 'language' %}
      {% if pages %}
      <nav>
        <ul>
          {% for page in pages %}
            <li>
              <a href="{{ page.url | replace: '/index.html', '/' | relative_url }}" hreflang="{{ page.language }}" rel="alternate" title="{{ site.languages[page.language] }}" class="link">
                {{ page.language }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </header>
    <main>
      {{ content }}
      <hr>
      <div id="portfolio">
        <ul>
          {% assign projects = site.projects | where: 'language', language | sort: 'weight' %}
          {% for project in projects %}
          <li>
            <a href="{{ project.url }}">
              {% if project.image %}<img src="{{ project.image | relative_url }}"{% if project.title %} alt="{{ project.title | smartify | strip_html | normalize_whitespace | escape }}"{% endif %}>{% endif %}
              {% if project.title %}<h3>{{ project.title }}</h3>{% endif %}
              {% if project.description %}<p>{{ project.description }}</p>{% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>
    <footer>
      {% if page.address or site.address[language] or site.address %}
      <address>{{ page.address | default: site.address[language] | default: site.address | markdownify }}</address>
      {% endif %}

      {% assign links = page.links | default: site.links %}
      {% if links %}
      <nav>
        <ul>
          {% for link in links %}
            <li>
              {% assign title = link[0] | capitalize %}
              <a href="{{ link[1].href | default: link[1] }}" title="{{ link[1].title | default: title | smartify | strip_html | normalize_whitespace | escape }}" target="_blank" rel="noopener noreferrer" class="link">
                <i class="icon-{{ link[0] }}"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}

      {% if site.copyright %}
      <p id="copyright">{{ site.copyright }}</p>
      {% else %}
      <p id="copyright">&copy; {{ "today" | date: "%Y" }} {{ site.title[language] | default: site.title | smartify }}</p>
      {% endif %}
    </footer>

    {% if jekyll.environment == 'production' and site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
